.home{
    display: flex;
    height: 100vh;

}

.left{
    flex: 1;
    /* background: red; */
    background-color: #F5F7F9;
    
}

.right{
    flex: 4;
}

.navbar_home{
    max-height: 12vh;
    width : 100%;
    padding : 0 10px 10px 10px;
}

.main{
    display: flex;
    height: 88vh;
}
.center{
    flex: 3;
    padding : 20px;
    width: 100%;
}
.rightbar{
    background-color: #F5F7F9;
    flex: 2;
    margin: 0px 20px 20px 20px;
}