.rightbar{
    border-radius: 10px;
}

.text_rightbar{
    text-transform: capitalize;
    padding: 20px 0 10px 5px;
    cursor: auto;
    font-size: 1.17rem;
    font-weight: bolder;
}

.rightbar_card_data{
    display : flex;
    flex-direction : column;
    gap : 5px;
}


